body {
  background-color: #F1FAEE;
}


.move-display {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.move-display p {
    font-size: 1.3rem;
    /* display: block; */
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 10%;
  padding: 15px 50px;

  border-radius: 8px;
  background-color: #347B9D;
}

.scoreboard p {
  margin: 5px;
  color: #F1FAEE;
  font-size: 1.4rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
  margin: auto;
  width: 420px;
}

.controls button {
  width: 120px;
  flex: 0 1 1;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;

  background-color: #1D3557;
  color: #F1FAEE;
  font-size: 16px;
  font-weight: 500;
}
